h1{
       font-family: 'Raleway',sans-serif; 
       font-weight: 800; 
       text-align: center; 
       text-transform: uppercase;
       font-size: 55px;
       margin:2px;
}
 
@media only screen and (max-width:700px) {
        h1 {
               font-size: 46px; 
          }
}

h2{ 
        font-size:40px;
        margin: 6px;
}

h5{
        display: inline-block; 
         font-size:23px;
         margin:1px;
}

#firstPlayerScoreHeader{
        color:blue; 
        margin-left:15px;
        padding-top:5px; 
}

#secondPlayerScoreHeader{
        color:red; 
        margin-left:15px;
        padding-top:5px;  
}

div{
    display: flex;
    justify-content: center;
    }

    h2{
        display: flex;
        justify-content: center;   
    }

.square{
        border: 2px solid black;
        height: 160px;
        width: 160px;
        }

.redBox {
        background: red;
        }    

.blueBox {
        background: blue;
        }  

.redBox , .blueBox{
                color:white;
                font-family: 'Helvetica', 'Arial', 'sans-serif';
                font-size: 8em;
                font-weight: bold;
                text-align: center;
                height: 156px;
                width: 155px;
                border-radius: 2px;
                }    
 
.O,.X{
        font-size:120px;
        height: 155px;
        width: 150px;
      
}

#buttonsDiv{
        margin : 10px;
}

#newGame{
        margin-right : 5px ;
}
 
.romanNumbers{
        font-size:50px;
}

